/* 头像下面的aside:按钮设置圆角 */
#card-info-btn {
  border-radius: 5px;
}
.button--animated:before {
  border-radius: 5px;
}
/* 全局md按钮设置圆角 */
.btn-beautify {
  border-radius: 5px;
}
/* 修复主题自带的隐藏按钮点击后消失问题并设置圆角 */
.hide-inline > .hide-button.open, .hide-block > .hide-button.open {
  display: inline-block;
  border-radius: 5px;
}
.hide-button {
  border-radius: 5px;
}
/* 鼠标样式设置 */
body{
  cursor:url(https://mkids.gitee.io/cdn/default.cur),default
}
a,button,img{
  cursor:url(https://mkids.gitee.io/cdn/pointer.cur),default
}
/* 全局字体设置 */
@font-face {
  font-family:MyFont;
  src: url(https://cdn.jsdelivr.net/gh/svipkid/CDN@master/webmo.woff2)
}
body {font-family:MyFont!important;}
/* 视频宽度 */
video{width:100%}

.read-mode{font-size:17px}
.read-mode #web_bg{background:#fdf6e3}
/* head字体大小 */
#site-subtitle {
    font-size: .8rem;
}
	
.site-page {
    font-size: .8rem;
}